body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.employeeId {
    margin-right: 20px;
}

.header {
    background-color: #222;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    z-index: 1001;
}

.header-logo {
    max-width: 50px;
    height: auto;
    margin-right: 20px;
}


.header h1 {
    flex-grow: 1;
    margin: 0;
}

.header-info {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 1000;
    margin-left: 10px;
    margin-right: 20px;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: white;
}

.main-area {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}

.sidebar {
    width: 200px;
    background-color: #2b2b2b;
    height: 100vh;
    padding: 20px 0;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    top: 75px;
}

.sidebar-hidden .sidebar {
    transform: translateX(-100%);
}

.sidebar-hidden .content-area {
    margin-left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px 20px;
    margin: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #444;
    border-radius: 5px;
    transition: all 0.3s ease;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar ul li:hover {
    background: linear-gradient(145deg, #1e1e1e, #464646);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.sidebar ul li a:hover {
    color: #4ad91f;
    transform: scale(1.05);
}

.content-area {
    padding: 10px;
    transition: margin-left 0.3s ease;
    margin-left: 200px;
}

.dashboard h2,
.car-table h2,
.customer-table h2,
.gps-table h2,
.maintenance-table h2,
.reservations-table h2 {
    margin-left: 20px;
    margin-top: 10px;
}

.dashboard {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.dashboard h2 {
    color: #fff;
}

.dashboard p {
    color: #bbb;
}

.chart-container {
    width: 400px;
    height: 400px;
    margin: auto;
    position: relative;
}

.dark-form {
    background-color: #2b2b2b;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
}

.dark-form h3 {
    color: #fff;
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
}

.dark-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.dark-form input[type="text"],
.dark-form input[type="date"],
.dark-form input[type="number"] {
    padding: 10px;
    border: 2px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: white;
    outline: none;
}

.dark-form input[type="text"]:focus,
.dark-form input[type="date"]:focus,
.dark-form input[type="number"]:focus {
    border-color: #38bc3c;
}

.dark-form button {
    grid-column: span 2;
    padding: 10px 15px;
    background-color: #225d0d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dark-form button:hover {
    background-color: #3c9e17;
}

.data-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    color: #FFF;
    background-color: #333;
    border: 4px solid #1c1c1c;
}

.data-table th,
.data-table td {
    border: 1px solid #444;
    padding: 8px;
    text-align: left;
    font-family: Arial, sans-serif;
}

.data-table thead {
    background-color: #222;
    color: #0dbd00;
}

.data-table tr:nth-child(even) {
    background-color: #3A3A3A;
}

.data-table tr:hover {
    background-color: #555;
}



#reportType {
    padding: 10px;
    border: 2px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: white;
    outline: none;
    margin-bottom: 10px;
    width: calc(100% - 20px);
}

#reportType:focus {
    border-color: #38bc3c;
}

#downloadButton {
    padding: 10px 15px;
    background-color: #225d0d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: calc(100% - 20px);
}

#downloadButton:hover {
    background-color: #3c9e17;
}



@media (max-width: 600px) {
    body {
        flex-direction: column;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-logo {
        margin-bottom: 10px;
    }

    .header-info {
        width: 100%;
        justify-content: space-between;
    }

    .sidebar,
    .main-area {
        width: 100%;
    }

    .data-table {
        display: block;
        overflow-x: auto;
    }

    #reportType,
    #downloadButton {
        width: calc(100% - 40px);
    }
}

.logout-button {
    background-color: #8B0000;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s ease;
}

.logout-button:hover {
    background-color: #A52A2A;
}

.notification-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    z-index: 1000;
}


.delete-button {
    padding: 10px 15px;
    background-color: #225d0d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
}

.delete-button:hover {
    background-color: #3c9e17;
    /* Dunklerer Grünton beim Hover */
}


select {
    padding: 10px;
    border: 2px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: white;
    outline: none;
    width: 100%;
    margin-bottom: 10px;
}

select:focus {
    border-color: #38bc3c;
}